<header>
  <nav>
    <a href="{{ '/' | relative_url }}" class="logo-link">
      <img src="{{ '/assets/images/bitil_logo_drawio.svg' | relative_url }}" alt="Business Logo">
    </a>

    <button class="hamburger-menu" aria-label="Toggle Menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
    
    <ul class="nav-links">
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ '/about.html' | relative_url }}">About</a></li>
      <li><a href="{{ '/services.html' | relative_url }}">Services</a></li>
      <li><a href="{{ '/learning-center.html' | relative_url }}">Learning Center</a></li>
      <li><a href="{{ '/resources.html' | relative_url }}">Resources</a></li>
      <li><a href="{{ '/faq.html' | relative_url }}">FAQ</a></li>
      <li><a href="{{ '/contact.html' | relative_url }}">Contact</a></li>
    </ul>
    <div id="btc-price-ticker">
      <span>BTC Price:</span>
      <span id="btc-price">Loading...</span>
    </div>
  </nav>
</header>
